<div id="app">
    <h1>INCI Diff</h1>
    <input type="text" v-model="name" placeholder="Product name"></input><br>
    <br>
    <textarea rows="4" cols="50" v-model="incilist" placeholder="INCI list"></textarea><br>
    <br>
    <button v-on:click="process" v-if="diff">Show Diff</button> <button v-on:click="add" v-if="!enough">Add</button><br>
    <br>

    <div v-if="partialDone">
        <h3>Products:</h3>
        <ul v-for="product in products">
            <li>
                <b>{{ product.name }}</b>:
                <div v-html="product.incilist"></div>
            </li>
        </ul>
    </div>

    <div v-if="done">
        <h3>Unified Diff:</h3>
        <div v-html="unifiedDiff"></div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="main.css">
<script src="https://unpkg.com/vue"></script>
<script src="node_modules/diff/dist/diff.js"></script>
<script src="main.js"></script>
